        body{
            font-family: sans-serif;
        }
        .col-centered{
            float: none;
            margin: auto;
        }
        .col-letter{
            width: 15%;
        }
        .letter{
            font-size:400%;
        }
                .img-responsive{
max-height: 100px;
                        margin:auto;
        }
        .panel{
            /*padding:5px;*/
            /*margin:5px 0 5px 0;*/
/*            margin-left: -5px;
            margin-right:-5px;
*/            border-width: thin;
        }
        .panel-heading{
            /*margin:0;*/
        }
        .column{
            padding:2.5px;
/*            margin:0;
*/        }
